.contact {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.row {
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px;
}
